@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC&display=swap');

body {
  font-family: 'Noto Sans SC', sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todo_list {
  display: flex ;
}